In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
#help(pd.Series)

## Index and Lists

In [4]:
myindex=['USA','Canada','Mexico']

In [5]:
mydata = [1776,1867,1821]

In [6]:
myser=pd.Series(data=mydata)

In [7]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [8]:
myser=pd.Series(data=mydata,index=myindex)

In [9]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [10]:
myser[2]

1821

In [11]:
calories = {"day1": 420, "day2": 380, "day3": 390}

In [12]:
myvar = pd.Series(calories)

In [13]:
myvar

day1    420
day2    380
day3    390
dtype: int64

In [14]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [15]:
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [16]:
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [17]:
sales_Q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [18]:
sales_Q1 + sales_Q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [19]:
sales_Q1.add(sales_Q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

## TASKS

In [20]:
# TASK: Use pandas to grab the expenses paid by Bob.

expenses = pd.Series({'Andrew':200,'Bob':150,'Claire':450})

bob_expense =expenses['Bob']

In [21]:
bob_expense

150